

#content, html, body {
    height: 98%;
}

#left {
    float: left;
    width: 20%;
    height: 100%;
    overflow: scroll;
}
#right {
    float: left;
    width: 80%;
    height: 100%;
    overflow: scroll;
}	

.table {
	width: 210px;
	height:90px;
	margin-bottom:5px;
	margin-left:5px;
	box-shadow: 2px 2px 2px 1px #888888;
	
}

.menu{
	width: 1000px;
	height:90px;
	margin-bottom:5px;
	margin-left:5px;
	box-shadow: 2px 2px 2px 1px #888888;
	
}

.menu:hover{
   background-color:#E5E7E9    ;
}

.table:hover{
   background-color:#E5E7E9  ;
}
/*#myTable h3{
	font-weight:normal;
}

#myMenu h3{
	font-weight:normal;
}
*/
input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 85%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 16%;
    top: 20%;
    width: 45%; /* Full width */
    height: 40%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color:orange; /* Fallback color */
    
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}	
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#mHeader{
	padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

#mBody {padding: 2px 16px;}

/* Modal Footer */
#mFooter{
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.GModal{

	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 16%;
    top: 20%;
    width: 45%; /* Full width */
    height: 40%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color:orange; /* Fallback color */
}

#GHeader{
	padding: 20px 16px;
    background-color: #5cb85c;
    color: white;
}

#GModalBody {padding: 2px 16px;}

.close1 {
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

